$my-brand-theme-color:#55aaff;      //品牌主体红色

$my-border-color:#e0e0e0;           //边框颜色
$my-border-color-light:#efefef;     //边框亮色

$my-font-color-1:#000;         //文字主色
$my-font-color-2:#676767;      //副标题颜色
$my-font-color-3:#a7a7a7;      //浅色
$my-font-color-4:#e4e4e4;      //更浅