view,
swiper,
swiper-item {
	// 设置怪异模式：border为 内填充
	box-sizing: border-box;
}

.pageBg {
	// 设置渐变
	background: 
	linear-gradient(to bottom, transparent, #fff 400rpx), 
	linear-gradient(to right, #beecd8 20%, #f4e2d8);
	min-height: 80vh;
}

// 加载 样式
.loadingLayout{
	padding:30rpx 0;
}

// 底部安全区域
.safe-area-inset-bottom{
	height: env(safe-area-inset-bottom);
}
