.wrapper {
    position: relative;
    width: 600px;
    height: 350px;
    border: 1px solid aqua;
    margin: 50px auto;
}

.wrapper img {
    width: 100%;
    height: 100%;

}

.wrapper span {
    position: absolute;
    top: 145px;
    display: block;
    width: 30px;
    height: 60px;
    background-color: #ccc;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.rightBtn {
    right: 0;
}